.CFUserTextEncoding
.DS_Store
.Trash
.WebIde80
.atom
.bash_history
.bash_profile
.bashrc
.cache
.composer
.config
.cups
.gem
.git-prompt.sh
.gitconfig
.hgignore_global
.irb-history
.keepassx
.lesshst
.local
.mkshrc
.mysql_history
.node-gyp
.npm
.oh-my-zsh
.pearrc
.profile
.rvm
.sdirs
.ssh
.subversion
.vagrant.d
.vim
.viminfo
.zcompdump
.zlogin
.zsh-update
.zsh_history
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public
Sites
Vagrant
VirtualBox VMs
bin
tmp
work
